$text-white: #ffffff;
$nav-bg: rgba(0, 0, 0, 0.6);
$text-gray: #777777;
$text-black: #000000;
$text-red: #dd2f31;
$footer-bg-top: #222222;
$footer-bg-bottom: #111111;
$shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
